{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'moviepage/search.css' %}">
<div class="container">
    <div class="search-results">
        <h1>Search Results</h1>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        {% if movies %}
            <div class="movie-list">
                {% for movie in movies %}
                    <div class="movie-card">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                        <div class="movie-info">
                            <h2>
                                <a class="movie-title" href="{% url 'movie_detail' movie.imdb_id %}">
                                    {{ movie.title }} ({{ movie.year }})
                                </a>
                            </h2>
                            <p><strong>Rated:</strong> {{ movie.rated }}</p>
                            <p><strong>Released:</strong> {{ movie.released }}</p>
                            <p><strong>Genre:</strong> {{ movie.genre }}</p>
                            <p><strong>Actors:</strong> {{ movie.actors }}</p>
                            <p><strong>Plot:</strong> {{ movie.plot }}</p>
                            <p><strong>IMDB Rating:</strong> {{ movie.imdb_rating }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-results">No results found. Try another search!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
