{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Movies Store</h2>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4 id="welcome">Welcome to the best movie store!!</h4>
        <p>Welcome to the GT Movies Store, your ultimate destination for all things movies! Dive into our vast collection of titles, purchase your favorites, and share your thoughts through reviews. Join our community of movie lovers and see what others are saying about the latest blockbusters and timeless classics alike. Start your cinematic adventure with us today!</p>
        <div id="start">
          <a class="btn btn-primary" id="login"
            href="/movies">Explore movies →
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}