{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .custom-form-field {
            margin-bottom: 20px;
        }
        .custom-form-field label {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block field_sets %}
    <div class="custom-movie-form">
        {{ block.super }}
    </div>
{% endblock %}

{% block after_field_sets %}
    <div class="custom-instructions">
        <p>Please fill out all fields accurately.</p>
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/admin_custom.css' %}">
{% endblock %}