{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
    <h1>Custom Movie List</h1>
{% endblock %}

{% block result_list %}
    <div class="custom-movie-list">
        {{ block.super }}
    </div>
{% endblock %}

{% block pagination %}
    <div class="custom-pagination">
        {{ block.super }}
    </div>
{% endblock %}

{% block object-tools %}
    <div class="object-tools">
        <a href="refresh-movies/" class="btn btn-primary">Refresh Movies</a>
        {{ block.super }}
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/admin_custom.css' %}">
{% endblock %}